/* Apenas algumas configurações para melhor visualização da estrutura da página */
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Open Sans;
}

.logo, .imagem {
    height: 8vw;
}

.icones {
    height: 2vw;
}