/* config geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

*::selection {
    background-color: #ea9fa2;
}

.container {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* ----------- */

/* header e footer */
header,
footer {
    height: 10vh;
    background-color: #f2d7d8;
    padding: 1.2vh;
    justify-content: space-between;
    display: flex;
    text-align: center;
    z-index: 1000;
    /* box-shadow: 0px 0px 4px 15px rgba(0, 0, 0, 0.3); */
}

header {
    /* position: sticky;
    top: 0; */
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

/* ----------- */

/* nav geral */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
/* ----------- */

/* nav superior */
.lista-nav-superior {
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* ----------- */

/* ancoras e logos */
figure {
    width: 12%;
}

.ancora {
    font-size: 2.2vh;
    color: #fa5d65;
    font-weight: 600;
}

.logo {
    height: 8vh;
}
/* ----------- */

/* body e outras tags */
main {
    display: grid;
    flex-grow: 1;
    background-color: #f8f8ff;
}

section {
    height: 90vh;
}

/*colocar ancoras de volta*/

ul {
    list-style: none;
}

.botao {
    background: linear-gradient(
        129.88deg,
        rgba(236, 151, 155, 0.54) 49.46%,
        rgba(238, 141, 145, 0.47) 72.1%,
        rgba(243, 121, 127, 0.47) 96.55%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid #fa5d65;
    color: #000000;
    padding: 0.3vw;
    height: 5vh;
    width: 15vh;
    justify-content: center;
    align-items: center;

}

.subtitulo {
    /* grid-row: 1 / 2;
    grid-column: 1 / 2; */
    justify-self: center;
    align-self: center;
    border-bottom: 2px solid #fa5d65;
    font-size: 4vh;
}
/* ----------- */

/* hover's: */

/* para comparação */
a {
    text-decoration: none;
    color: initial;
}

/* ---- */

a:hover {
    color: #f41b22;
}

.ancora-dos-botoes:hover {
    color: initial;
}

.icones:hover {
    transform: scale(1.1);
}

.botao:hover {
    cursor: pointer;
    opacity: 0.9;
}

.subtitulo-section-servicos {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    /* font-size: 4vh; */
    /* float: left; */
    /* margin: 20px; */
    padding: 2px 3px;
    /* => se tiver esse position quebra tudo */
    position: relative;
    z-index: 998;
}

.subtitulo-section-servicos:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #f41b22;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.subtitulo-section-servicos:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.article-da-section-servicos:hover {
    transform: scale(1.01);
    /* opacity: 0.9; */
    /* transition: 500ms linear; */
}
/* ----------- */

/* organização das seções */
/* primeira seção: */
#secao-servicos {
    background-color: #f8f8ff;
    display: grid;
    grid-template: 0.15fr 0.8fr 0.2fr / repeat(4, 1fr);
    gap: 1vh;
    justify-content: center;
    margin: 0 16vh;
}

h1 {
    color: #000000;
    font-size: 4vh;
    border-bottom: 2px solid #fa5d65;
    display: grid;
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    align-items: center;
    align-self: end;
}

.subtitulo-section-servicos {
    font-size: 3.5vh;
}

.article-da-section-servicos {
    padding: 1.5vh;
    /* background-color: #ea9fa2; */
    /* background-color: #ea9fa16e; */
    height: 45vh;
    width: 80%;
    /* border-radius: 20px; */
    /* padding: 2vh; */
    display: grid;
    grid-template: 8vh 1fr 1fr / 1fr;
    place-self: center;
    /* border: 1px solid #f94c55; */
    background: #f2d2d6;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 49px;
}

/* .p-da-section-servicos,
.ul-da-section-servicos {
    font-size: 1.3em;
    text-align: center;
    padding: 0 0.5vh;
} */

.p-da-section-servicos {
    padding: 1vh;
    font-size: 1.5em;
    text-align: center;
    align-items: flex-start;
    /* align-items: stretch; */
    /* padding: 0 0.5vh; */
}

.p-da-section-servicos {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    line-height: 1.5em;
}

.ul-da-section-servicos {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    line-height: 2em;
}

#botao-principal-servicos {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    justify-self: center;
}
/* ----------- */

/* segunda seção: */
#secao-localizacao {
    background-color: #f2d7d8;
}

.article-da-localizacao {
    display: grid;
    grid-template: 0.3fr 1fr 1fr/ 1fr 1fr;
    margin: 0 16vh;
    height: 100%;
    gap: 4vh;
}

#subtitulo-secao-loc {
    width: 100%;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    /* align-self: center; */
    align-self: end;
    justify-content: center;
}

#imagem-mapa {
    height: 60vh;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    align-self: center;
}

.p-da-section-localizacao {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: end;
    justify-self: center;
    width: 70vh;
    font-size: 4vh;
}

.botao-da-secao-localizacao {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    align-self: start;
    justify-self: center;
}
/* ----------- */

/* terceira seção: */
#secao-promocao {
    background-color: #f2f3f4;
    font-size: 1.5vh;
}

.article-da-promocao {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
    margin: 0 16vh;
    height: 100%;
    gap: 2vh;
}

#subtitulo-secao-promo {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 100%;
    padding-top: 3vh;
    align-self: end;
    justify-content: center;
}

.p-da-section-promo {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    align-self: center;
    justify-self: center;
    width: 60vh;
    font-size: 3.5vh;
    padding-top: 2vh;
    /* background-color: #f41b22; */
}

.botao-da-secao-promo {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-self: start;
    justify-self: center;
    font-size: 1.5vh;
}

#carro-amigos {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    height: 60vh;
    align-self: center;
    justify-self: center;
}

/* ----------- */

/* quarta seção */
#secao-perguntas {
    background-color: #fec9c9;
    display: grid;
    grid-template: 1fr 1fr / 0.1fr 1.5fr;
}

.article-da-perguntas {
    grid-column: 2 / 3;
    justify-content: center;
    align-items: center;
    margin: 0 16vh;
    display: grid;
    grid-template: 1fr / 1fr;
    height: 90%;
    font-size: 2vh;
    gap: 4vh;
}

#subtitulo-secao-perguntas {
    margin: 0 16vh;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    width: 84%;
    align-self: center;
    justify-content: center;
}

#imagem-secao-perguntas {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-self: flex-end;
    height: 70vh;
}

.lista-definicao {
    grid-column: 2 / 3;
    height: 13vh;
    padding: 2vh;
    width: 90%;
    background: #f8f4f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dt-das-perguntas {
    font-size: 2.3vh;
    font-weight: 600;
}

.dd-da-section-perguntas {
    padding: 1vh;
}
/* ----------- */

/* quinta seção */
#secao-contato {
    background-image: url(/media-page/escritorio-com-filtro.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.article-contato {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
    margin: 0 16vh;
    height: 100%;
    gap: 4vh;
    font-size: 2vh;
}

#subtitulo-secao-contato {
    display: grid;
    width: 80%;
    align-self: start;
    justify-content: center;
    margin-bottom: 2vh;
}

form {
    display: grid;
    grid-row: 2 / 6;
    grid-column: 1 / 2;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    justify-self: center;
    width: 40%;
    height: 70vh;
    padding: 5vh;
}

input,
textarea {
    background-color: transparent;
    border-width: 0 0 0.1vh;
    color: rgb(17, 17, 17);
    outline: none;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: rgba(17, 17, 17, 0.2);
    --inputCurrentColor: #111111;
    resize: none;
}

.inputs-contato {
    height: 6vh;
}

#mensagem {
    padding: 12vh 0 0 0;
    height: 16vh;
}

#botao-enviar {
    margin: 3vh 0;
    align-self: center;
    justify-self: center;
}
/* ----------- */

/* footer e nav inferior */
footer {
    display: flex;
    flex-direction: row;
}

.nav-inferior {
    display: flex;
    justify-content: flex-end;
}

.lista-nav-inferior {
    display: flex;
    height: 6vh;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
}

.icones {
    height: 4vh;
}
